{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block body %}

<section class="welcome-area sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <div class="sec-title">
                        <h1>Bienvenue chez V.Parrot<span> Garage auto et vente de véhicules d'occasion.</span></h1>
                        <span class="border"></span>
                    </div>
                    <div class="text-box">
                        <p>
                            Le garage automobile V.Parrot a été créé en 2021. Notre équipe de mécaniciens automobiles intervient sur tous types de véhicules de toutes marques et de tous modèles pour les particuliers et les professionnels. Confiez l’entretien, la réparation et le dépannage de votre voiture ou votre utilitaire à notre garage auto.
                        </p>
                        <p>Nous vendons également des véhicules d'occasion vérifiés et testés par notre équipe.</p>
                        <div class="name-signature">
                    <div class="name">
                      <h3>Vincent Parrot, <span>Fondateur</span></h3>
                    </div>
                    <div class="signature">
                      <img src="assets/icon/signature.png" alt="Signature de V.Parrot" />
                    </div>
                  </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                        <div class="img-holder wow slideInRight text-center">
                            <img src="{{ asset('assets/resources/welcome.jpg') }}" alt="La photo de V.Parrot" />
                            <div class="inner-content">
                                <h3>Nous prenons le plus grand soin de votre véhicule</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
            </div>
          </div>
        </div>
      </section>
      <!--End welcome area-->

      <!--Start contact info area-->
      <section class="contact-info-area">
        <div class="container">
          <div class="title text-center">
            <h2>Un problème avec votre véhicule ? Aucune inquiétude</h2>
            <p>
              Contactez-nous! Nous sommes là pour vous aider ! 05.59.77.05.85
            </p>
          </div>
          <div class="row">
      </section>
      <!--End contact info area-->

      <!--Start choosing area-->
      <section class="choosing-area">
        <div class="sec-title text-center">
          <h1>Pourquoi nous choisir ?</h1>
          <span class="border center"></span>
        </div>
        <div class="container">
          <div class="row">

            <!--Start single item 1-->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="single-item">
                <div class="icon-holder">
                  <span class="flaticon-avatar"></span>
                </div>
                <div class="content">
                  <h3>100% Transparence</h3>
                  <p>
                    Nous vous détaillons chacune de nos réparations.
                  </p>
                </div>
              </div>
            </div>
            <!--End single item 1-->

            <!--Start single item 2-->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="single-item">
                <div class="icon-holder">
                  <span class="flaticon-wrench"></span>
                </div>
                <div class="content">
                  <h3>Équipements</h3>
                  <p>
                    Nous investissons dans les meilleurs équipements de réparation 
                    possibles afin de vous garantir une meilleure rapidité et efficacité.
                  </p>
                </div>
              </div>
            </div>
            <!--End single item 2-->

            <!--Start single item 3-->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="single-item">
                <div class="icon-holder">
                  <span class="flaticon-factory"></span>
                </div>
                <div class="content">
                  <h3>Services de qualité</h3>
                  <p>
                    Au moindre soucis, nous serons là pour vous
                    aider et vous conseiller. Vous disposez d'une salle 
                    d'attente avec fauteuils, café, wifi en libre service.
                  </p>
                </div>
              </div>
            </div>
            <!--End single item 3-->
          </div>
          <div class="row">

            <!--Start single item 4-->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="single-item">
                <div class="icon-holder">
                  <span class="flaticon-maintenance"></span>
                </div>
                <div class="content">
                  <h3>Accueillants</h3>
                  <p>
                    Nous insistons sur l'état d'esprit de notre
                    entreprise, accueillante et bienveillante
                    envers notre clientèle.
                  </p>
                </div>
              </div>
            </div>
            <!--End single item 4-->

            <!--Start item 5-->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="single-item">
                <div class="icon-holder">
                  <span class="flaticon-car-wheel"></span>
                </div>
                <div class="content">
                  <h3>Prêt de véhicules</h3>
                  <p>
                    Nous pouvons vous prêter un véhicule si 
                    la réparation nécessite du temps.
                  </p>
                </div>
              </div>
            </div>
            <!--End single item 5-->

            <!--Start single item 6-->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="single-item">
                <div class="icon-holder">
                  <span class="flaticon-document"></span>
                </div>
                <div class="content">
                  <h3>Pas de surprises</h3>
                  <p>
                    Avant toute réparation nous fesons ensemble le point
                    sur les prix, nous pouvons également faciliter les 
                    paiements selon vos besoins.
                  </p>
                </div>
              </div>
            </div>
            <!--End single item 6-->
          </div>
        </div>
      </section>
      <!--End choosing area-->

      <!--Start slogan area-->
      <section class="slogan-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div
                class="inner-content wow fadeInUp"
                data-wow-delay="200ms"
                data-wow-duration="1500ms"
              >
                <div class="title pull-left">
                  <h1>
                    Nous vous garantissons un travail de qualité dans les plus brefs délais
                  </h1>
                </div>
                <div class="button pull-right">
                  <a class="thm-btn" href="#">Nous contacter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End slogan area-->


{% endblock %}