{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<section class="welcome-area sec-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="text-holder">
                <div class="sec-title">
              <h1>Politique de confidentialité</h1>
              <span class="border"></span>
                </div>
                <div class="text-box">
<p>Nous accordons une grande importance à la protection de vos données personnelles.</br>
Cette politique de confidentialité vise à vous informer de la manière dont nous collectons,
utilisons, divulguons et protégeons vos informations personnelles lorsque vous utilisez notre site internet. </p>
<h4>Collecte d'informations personnelles :</h4>
<p>Lorsque vous visitez notre site internet, nous pouvons collecter certaines informations
personnelles vous concernant, telles que votre nom, votre adresse e-mail, votre numéro
de téléphone, etc.</br> Ces informations sont collectées de manière volontaire lorsque vous
les fournissez via nos formulaires de contact ou d'inscription.</p>
<h4>Utilisation des informations personnelles :</h4>
<p>Les informations personnelles que nous collectons sont utilisées dans le but de répondre
à vos demandes, de vous fournir les services que vous avez sollicités, de personnaliser
votre expérience sur notre site internet et de vous informer des nouveautés, offres
spéciales ou événements pertinents.</br> Nous ne vendons, louons ou partageons vos
informations personnelles avec des tiers à des fins de marketing sans votre consentement explicite.</p>
<h4>Protection des informations personnelles :</h4>
<p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations
personnelles contre tout accès non autorisé, toute divulgation, altération ou
destruction.</br> Cependant, veuillez noter qu'aucune méthode de transmission ou de stockage
de données n'est totalement sécurisée.</br> Nous ne pouvons donc garantir la sécurité absolue
de vos informations personnelles.</p>
<h4>Cookies et technologies similaires :</h4>
<p>Notre site internet utilise des cookies et des technologies similaires pour améliorer
votre expérience utilisateur, analyser les tendances, administrer le site et collecter
des informations démographiques sur nos utilisateurs.</br> Vous pouvez contrôler</p>
<h4>Liens vers des sites tiers :</h4><p>
Notre site internet peut contenir des liens vers des sites tiers. Nous ne sommes pas
responsables des pratiques de confidentialité ou du contenu de ces sites.</br> Nous vous
encourageons à consulter les politiques de confidentialité de ces sites avant de fournir vos informations personnelles. </p>
<h4>Conservation des données :</h4><p>
Nous conservons vos informations personnelles aussi longtemps que nécessaire pour
atteindre les finalités pour lesquelles elles ont été collectées, sauf si la loi l'exige autrement.</p><h4>
Vos droits :</h4><p>
Vous avez le droit d'accéder, de rectifier, de mettre à jour ou de supprimer vos
informations personnelles.</br> Vous pouvez également vous opposer au traitement de vos
données personnelles ou demander leur portabilité.</br></br>
Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les mises à jour seront publiées sur cette page.</br></br>
Pour toute question concernant notre politique de confidentialité, veuillez nous contacter à l'adresse suivante : [v.parrot@gmail.com].</p>
                </div>
                </div>
                </div>
                </div>
                </div>


{% endblock %}