{% extends 'base.html.twig' %}

{% block title %}Foire aux questions{% endblock %}

{% block body %}
<!--Start faq content area-->
      <section class="faq-content-area">
        <div class="container">
          <div class="row">
            <div class="faq-content masonary-layout">

              <!--Start single item-->
              <div class="col-md-6">
                <div class="single-item">
                  <div class="title">
                    <h3>Comment avoir un conseil technique sur une prestation ou un produit ?</h3>
                  </div>
                  <div class="text">
                    <p>
                      Nous vous invitons à contacter votre centre auto. 
                      Nos experts sauront vous conseiller.
                    </p>
                  </div>
                </div>
              </div>
              <!--End single item-->

              <!--Start single item-->
              <div class="col-md-6">
                <div class="single-item">
                  <div class="title">
                    <h3>Pneus 4 saisons ou Pneus Hiver ?</h3>
                  </div>
                  <div class="text">
                    <p>
                      Un pneu 4 saisons est polyvalent, il peut faire face à toutes 
                      les conditions climatiques. Il s’agit d’un pneu hybride qui 
                      permet de rouler en hiver comme en été. C’est un bon compromis
                      pour rouler toute l’année en toute sécurité quelque soit la saison.
                      Néanmoins les pneus 4 saisons n’ont pas les mêmes performances 
                      qu’un pneu hiver en hiver ou un pneu été en été.
                    </p>
                  </div>
                </div>
              </div>
              <!--End single item-->

              <!--Start single item-->
              <div class="col-md-6">
                <div class="single-item">
                  <div class="title">
                    <h3>Acceptez-vous les chèques ANCV, Cadhoc, Kadeos, Tir Groupé ?</h3>
                  </div>
                  <div class="text">
                    <p>
                      Malheureusement, nous n'acceptons pas ce type de chèques.
                    </p>
                  </div>
                </div>
              </div>
              <!--End single item-->

              <!--Start single item-->
              <div class="col-md-6">
                <div class="single-item">
                  <div class="title">
                    <h3>Entretenez-vous les véhicules électriques ?</h3>
                  </div>
                  <div class="text">
                    <p>
                      Oui, l'ensemble de notre réseau succursale est habilité 
                      à entretenir votre véhicule, un Technicien dédié à ce type
                      de véhicule assure la prise en charge. Merci de prendre contact 
                      avec le centre pour savoir si la prestation est réalisable.
                    </p>
                  </div>
                </div>
              </div>
              <!--End single item-->

              <!--Start single item-->
              <div class="col-md-6">
                <div class="single-item">
                  <div class="title">
                    <h3>Comment modifier mon rendez-vous ?</h3>
                  </div>
                  <div class="text">
                    <p>
                    Pour modifier votre rendez-vous, contactez directement
                    votre garage V.Parrot afin de trouver un nouveau créneau.
                    </p>
                  </div>
                </div>
              </div>
              <!--End single item-->

              <!--Start single item-->
              <div class="col-md-6">
                <div class="single-item">
                  <div class="title">
                    <h3>Prêtez-vous un véhicule de courtoisie ?</h3>
                  </div>
                  <div class="text">
                    <p>
                      Oui, nous disposons de véhicules de remplacement 
                      pour vous dépanner sous certaines conditions.
                    </p>
                  </div>
                </div>
              </div>
              <!--End single item-->

              <!--Start single item-->
              <div class="col-md-6">
                <div class="single-item">
                  <div class="title">
                    <h3>J’ai un problème bancaire (rejet RIB, problème technique, 
                        date de prélèvement etc…) que dois-je faire ?</h3>
                  </div>
                  <div class="text">
                    <p>
                      Contactez simplement notre secrétaire qui vous accompagnera dans vos démarches :
                      Via notre formulaire de contact ou par téléphone.
                    </p>
                  </div>
                </div>
              </div>
              <!--End single item-->

              <!--Start single item-->
              <div class="col-md-6">
                <div class="single-item">
                  <div class="title">
                    <h3>Comment obtenir un duplicata de ma facture ?</h3>
                  </div>
                  <div class="text">
                    <p>
                  Il est possible de retrouver votre facture en réalisant une demande
                  soit directement auprès du garage, en formulant la demande via notre 
                  formulaire de contact ou en nous appelant.
                    </p>
                  </div>
                </div>
              </div>
              <!--End single item-->

            </div>
          </div>
        </div>
      </section>
      <!--End faq content area-->

      {% endblock %}