{% extends 'base.html.twig' %}

{% block title %}Nos services{% endblock %}

{% block body %}

<section class="service-area service-page">
  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="single-service-item text-center">
            <div class="img-holder">
              <img src="">
              <div class="overlay-style-one">
                <div class="box">
                  <div class="content">
                    <i class="fa fa-link" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3><service</h3>
              <p>description</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>





{% endblock %}