{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
<!-- Start contact area -->
<div class="container">
    <div class="divider"></div>
<style>
    h2 {
        text-align: center;
        color: #233588; 
        margin-top: 50px;
        line-height: 1.5;
         }
       </style>
    <h2>Laissez-nous un message et nous vous recontacterons dans les plus brefs délais</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form id="contact-form" method="post" action="lib/formulaire.php" role="form">
                <div class="row">
                    <div class="col-md-6">
                        <label for="firstname">Prénom <span class="blue">*</span></label>
                        <input id="firstname" type="text" name="firstname" class="form-control" placeholder="Votre prénom">
                        <p class="comments"></p>
                    </div>
                    <div class="col-md-6">
                        <label for="name">Nom <span class="blue">*</span></label>
                        <input id="name" type="text" name="name" class="form-control" placeholder="Votre Nom">
                        <p class="comments"></p>
                    </div>
                    <div class="col-md-6">
                        <label for="email">Email <span class="blue">*</span></label>
                        <input id="email" type="text" name="email" class="form-control" placeholder="Votre Email">
                        <p class="comments"></p>
                    </div>
                    <div class="col-md-6">
                        <label for="phone">Téléphone</label>
                        <input id="phone" type="tel" name="phone" class="form-control" placeholder="Votre Téléphone">
                        <p class="comments"></p>
                    </div>
                    <div class="col-md-12">
                    <label for="message">Message <span class="blue">*</span></label>
                    <textarea id="message" name="message" class="form-control" placeholder="Votre Message" rows="4" style="height: 150px;"></textarea>
                    <p class="comments"></p>
                    </div>
                    <div class="col-md-12">
                        <p class="blue"><strong>* Ces informations sont requises.</strong></p>
                    </div>
                    <div class="col-md-12 text-center">
                    <style>
                    .button1 {
                    border: 1px solid #ddd;
                    background: #ffa500;
                    color: #fff;
                    width: 100%;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 18px;
                    border-radius: 5px;
                    transition: all 0.3s ease-in 0s;
                    }
                    .button1:hover {
                    background: #333;
                    border-color: #0f1d5d;
                    }
                    </style>
                        <input type="submit" class="button1" value="Envoyer" name="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End contact form area -->
{% endblock %}
