{% extends 'base.html.twig' %}

{% block title %}Les tarifs{% endblock %}

{% block body %}

<!--Start pricing plan area-->
      <section class="pricing-plan-area">
        <div class="container">
          <div class="sec-title text-center">
            <h1>Nos différents tarifs</h1>
            <span class="border center"></span>
            <p>
              Ces tarifs correspondent à une estimation moyenne.
              Ils peuvent être légèrement inférieurs ou supérieurs
              suivant le modèle de votre voiture ainsi que le temps
              de main d'oeuvre.
            </p>
          </div>
          <div class="row">

            <!--Start single price box-->
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
              <div class="single-price-box">
                <div class="table-header">
                  <div class="top">
                    <h3>Révision</h3>
                  </div>
                  <div class="package">
                    <h1>149€</h1>
                  </div>
                </div>
                <div class="price-list">
                  <ul>
                    <li>Vidange</li>
                    <li>Changement filtres</li>
                    <li>Vérification de la voiture</li>
                    <li>Huile de grande qualité</li>
                    <li>Nettoyage extérieur</li>
                  </ul>
                </div>
                <div class="table-footer">
                  <a class="thm-btn" href="#">Réservez</a>
                </div>
              </div>
            </div>
            <!--End single price box-->

            <!--Start single price box-->
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
              <div class="single-price-box">
                <div class="table-header">
                  <div class="top">
                    <h3>Climatisation</h3>
                  </div>
                  <div class="package">
                    <h1>109€</h1>
                  </div>
                </div>
                <div class="price-list">
                  <ul>
                    <li>Diagnostic</li>
                    <li>Nettoyage du circuit</li>
                    <li>Recharge clim</li>
                    <li>Remplacement filtre habitacle</li>
                    <li>Nettoyage extérieur</li>
                  </ul>
                </div>
                <div class="table-footer">
                  <a class="thm-btn" href="#">Réservez</a>
                </div>
              </div>
            </div>
            <!--End single price box-->

            <!--Start single price box-->
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
              <div class="single-price-box">
                <div class="table-header">
                  <div class="top">
                    <h3>Freinage</h3>
                  </div>
                  <div class="package">
                    <h1>99€</h1>
                  </div>
                </div>
                <div class="price-list">
                  <ul>
                    <li>Diagnostic freinage</li>
                    <li>Pièces de qualité</li>
                    <li>Remplacement disques/plaquettes</li>
                    <li>Remplissage liquide de freins</li>
                    <li>Nettoyage extérieur</li>
                  </ul>
                </div>
                <div class="table-footer">
                  <a class="thm-btn" href="#">Réservez</a>
                </div>
              </div>
            </div>
            <!--End single price box-->

            <!--Start single price box-->
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
              <div class="single-price-box">
                <div class="table-header">
                  <div class="top">
                    <h3>Amortisseurs</h3>
                  </div>
                  <div class="package">
                    <h1>199€</h1>
                  </div>
                </div>
                <div class="price-list">
                  <ul>
                    <li>Diagnostic</li>
                    <li>Remplacement amortisseurs</li>
                    <li>Sécurité respectée</li>
                    <li>Géométrie+pose</li>
                    <li>Nettoyage extérieur</li>
                  </ul>
                </div>
                <div class="table-footer">
                  <a class="thm-btn" href="#">Réservez</a>
                </div>
              </div>
            </div>
            <!--End single price box-->
            
          </div>
        </div>
      </section>
      <!--End pricing plan area-->

{% endblock %}